.button-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-mobile .icon-menu-close {
  display: none;
}

.button-mobile.is-open .icon-menu-close {
  display: block;
}

.button-mobile.is-open .icon-menu {
  display: none;
}
