.logo {
  color: $logo-color;
  font-family: $logo-text;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.studio {
  color: #000;
  font-family: $logo-text;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
