.filter__list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  list-style: none;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  padding-left: 0;
  margin: 0;
  margin-bottom: 40px;
}

.filter__list .filter__item + .filter__item {
  margin-left: 8px;
}

.filter__list .filter__button.current {
  color: $white-color;
  background-color: $logo-color;
}

.filter__button {
  color: $text-color;
  background-color: #f5f4fa;
  font-family: $text;
  font-size: 16px;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $logo-color;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
}
