.advantages-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.hide-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .advantages .advantages__item + .advantages__item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages .advantages__item + .advantages__item {
    margin-left: 30px;
  }
}

.advantages {
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
  }

  &__item {
    display: block;

    padding: 0;
    background-size: auto;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }

  &__block {
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;

    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    color: $text-color;
    font-family: $text;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__info {
    color: $second-color;
    font-family: $text;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
  }
}
